POSTGRES_USER="USER"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_DB="DB"
FB_ACCESS_TOKEN=
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB"
IMAGE_DIR="./src/lib/assets/eventpics" #Let this be unset in production, it will default to /data/eventpics which is the mounted volume in docker-compose.yml
