POSTGRES_USER="USER"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_DB="DB"
FB_ACCESS_TOKEN=
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB"

PG_PASS="pass"
AUTHENTIK_SECRET_KEY="secretkey"
AUTHENTIK_ERROR_REPORTING__ENABLED=true

COMPOSE_PORT_HTTP=80
COMPOSE_PORT_HTTPS=443

AUTHENTIK_TAG=2025.12.1

PUBLIC_OAUTH_CLIENT_AUTHORITY="http://localhost/application/o/sfp-admin/"
PUBLIC_OAUTH_USERINFO_ENDPOINT="http://localhost/application/o/userinfo/"
PUBLIC_OAUTH_CLIENT_ID="H05hj25LtVS2HevWxT0Imfk0nABd7phiWSHBvnNo"
PUBLIC_OAUTH_REDIRECT_URI="http://localhost:3000/callback"
PUBLIC_OAUTH_POST_LOGOUT_REDIRECT_URI="http://localhost:3000/"
PUBLIC_OAUTH_LOGOUT_URL="http://localhost/if/flow/default-invalidation-flow/"

LISTMONK_API_KEY="your_listmonk_api_key"
ZULIP_API_EMAIL="zulip_email"
ZULIP_API_KEY="zulip_api_key"