@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
	--font-sans: "Schibsted Grotesk", sans-serif;

	--color-bg-light: #fef6ec;
	--color-bg-dark: #1f1a16;
	--color-text-dark: #212121;
	--color-text-light: #fff9eb;
	--color-red: #c52128;
	--color-dark-red: #91161b;
}

body {
	font-family: var(--font-sans);
	background-color: var(--color-bg-light);
	color: var(--color-text-dark);
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
