@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--font-sans: 'Schibsted Grotesk', sans-serif;

	--color-bg-light: #fef6ec;
	--color-bg-dark: #1f1a16;
	--color-text-dark: #212121;
	--color-text-light: #fff9eb;
	--color-red: #c52128;
	--color-dark-red: #91161b;
	--color-green: #074835;
	--background: var(--color-bg-light);
	--body-text: var(--color-text-dark);
}

.dark {
	--background: var(--color-bg-dark);
	--body-text: var(--color-text-light);
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-sans);
	background-color: var(--background);
	color: var(--body-text);
}

a {
	text-decoration: none;
}
@layer base {
	input[type='checkbox'] {
		cursor: pointer;
		background-color: transparent;
		position: relative;
		appearance: none;
		border: 4px solid var(--color-text-light);
		width: 1.5rem;
		height: 1.5rem;
		min-width: 1.5rem;
		min-height: 1.5rem;
	}
	input[type='checkbox']:checked::after {
		content: '';
		position: absolute;
		width: 1.2rem;
		height: 1.8rem;
		rotate: 40deg;

		top: -0.8rem;
		left: 0.1rem;

		/* background-color: rgba(0, 0, 255, 0.178); */
		border: 5px solid var(--color-text-light);
		border-top: none;
		border-left: none;
	}
}
